@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    transition: all 0.5s;
    transition: background height opacity 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
    width: 100%;
    /* display: block; */
    margin: 0;
    
}
::-webkit-scrollbar {
    display: none;
}

.contents_area {
    width: 1300px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
/* *********************************** 스크롤바 ********************************** */
::-webkit-scrollbar{width: 5px;}
::-webkit-scrollbar-thumb {background-color:#dd184e; border-radius: 100px;} 
::-webkit-scrollbar-track {background-color:transparent;}


/* *********************************** 헤더 ********************************** */
.header {
    width: 100%;
    z-index: 999999999;
    position: fixed;
    transition: background opacity 0.3s;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    border-bottom: 1px solid #bd273a33;
}

.header_menu {
    width: 75%;
    margin: 0 auto;
}

.logo_inner {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    max-width: 100%;
    position: absolute;
    left: 25px;
    top: 15px;
    
}



.aside {

    width: 300px;
    height: 100%;
    transition: all 0.3s;

    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 2147483647;
    width: 300px;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
    padding: 40px;
    box-sizing: border-box;

}

.hambug {
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 12px;
    background: url(../img/hamburger2.png) no-repeat center / cover;
}

.hamimg_active {
    background: url(../img/cross2.png) no-repeat center / cover;
}

.hambug img {
    width: 28px;
    cursor: pointer;

}

.ham_active {
    transform: translateX(0);
}

.category {
    width: 100%;
    margin-bottom: 30px;
    /* background-color: pink; */
}

.category ul {
    font-weight: 600;
}

.category li {
    font-weight: 100;
    font-size: 13px;
}

.community {
    width: 100%;

    margin-bottom: 30px;
}

.community ul {
    font-weight: 600;
}

.community li {
    font-weight: 100;
    font-size: 13px;
    margin-top: 3px;
}

.Sns {
    width: 100%;
}

.Sns div {
    font-weight: 600;
}

.ham_sns a img {
    width: 30px;
    height: 30px;
    margin-top: 15px;
}

.ham_sns .sns {
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: none;
}

ul div {
    margin-bottom: 15px;
}

/* *********************************** 메인 ********************************** */
.main{
    min-height: 400px;
    /* margin: 40px auto 0; */
    text-align: center;
    padding-top: 90px;
}
.main_title{
    width: 100%;
    box-sizing: border-box;
}

.title_name{
    width: 200px;
    margin-bottom: 40px;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.7s;
}
.title_banner{
    width: 100%;
    height: auto !important;
    object-fit: cover;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 0.7s;
}

.main_box{
    width: 100%;
}
.product_title{
    height: 50px;
    line-height: 50px;
    margin: 20px auto;
    color: #dd184e;
    font-size: 23px;
}
.product_box{
    /* height: 1000px;  */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 0 20px;
    gap: 20px;
    /* margin: 0 auto; */
    /* text-align: center; */
    box-sizing: border-box;
}
.product_content{
    width: calc((100% - (20px * 1))/ 2);
    /* height: 350px; */
    /* margin: 0 20px 100px 0; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
    padding-bottom: 50px;
    margin-bottom: 80px;

    
}
.product_content:nth-child(3n){margin-right:0;}
.product_img{
    width: 100%;
    /* height: 353px; */
    border: 1px solid #dfdfdf;
    margin-bottom: 15px;
    overflow: hidden;
}
.product_img a{
    /* top */
    position: relative;
    width: 100%;
    padding-bottom: 128%;
    display: block;
 }
.product_img:hover img{
    transform: scale(1.1);
}
.product_img img{
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    top: 0
}
.product_name{
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    text-align: left;
}
.product_price{
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0 10px;
}
#product_view{
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid #dd184e;
    outline: none;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
    color: #dd184e;
    font-size: 13px;
    position: absolute;
    bottom: 0;
}
#product_view:hover {
    color: white;
    border: none;
    background-color: #dd184e;
}

/* *********************************** 탑버튼 ********************************** */
.top_down {
    width: auto;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 99999;
}

.top_down img {
    width: 32px;
    height: 32px;
    margin-bottom: 2px;
    opacity: 0.7;
    cursor: pointer;
    /* border: 1px solid #d4d4d4; */
    border-radius: 50%;
    background: rgba(180, 9, 31, 0.7);
}

/* *********************************** 푸터 ********************************** */
.footer {
    background-color: #ce0034;
    padding: 20px;
    box-sizing: border-box;
}

.contents_area {
    width: auto;
    /* height: 300px; */
    flex-direction: column;
}


.f_box1 {
    padding: 70px;
    width: 400px;
    text-align: right;
    box-sizing: border-box;
    padding: 0;
    width: auto;
    text-align: left;
    margin-bottom: 15px;
}

.f_box1 img {
    width: 150px;
    width: 110px;
}

.f_box2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f_link {
    display: flex;
    flex-direction: row;
    display: block;
}

.f_link li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    margin-right: 60px;
}

.f_box3,
.f_txt1 {
    color: white;
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    margin: 15px 0;
}


.f_box3 {
    margin: 0;
}