
:root {
    --color-text: #fff;
    --color-bg: #ddd;
    --font-text: "Nanum Gothic Coding", monospace;
    --fontsize-text: 8vw;
}

body {
    min-height: 100vh;
    color: #000;
    color: var(--color-text);
    background-color: #fff;
    background: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background 1s;
    overflow-x: hidden;
    margin: 0;
}

html {scroll-behavior: smooth;}
a {text-decoration: none;}
p {margin: 0;}

ul {
    list-style: none;
    margin: 0;
}

::-webkit-scrollbar {display: none;}

.sections {
    position: relative;
    display: block;
}

.section {
    position: relative;
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
}


/* ------  header ------- */
.header {
    width: 100%;
    height: 150px;
    padding: 0 100px;
    box-sizing: border-box;
    position: absolute;
    z-index: 9999999;
}

.header_wrap {
    width: 100%;
    height: 100%;
    display: flex;
}

.header_wrap .logo {
    line-height: 230px;
}

.logo img {
    height: 80px;
}

.menu_outer {
    display: flex;
    gap: 50px;
    margin-left: 30px;
    align-items: center;
    flex-direction: row;
}

.menu_inner {
    font-family: 'Abhaya Libre', serif;
    color: black;
    font-size: 18px;
    transform-origin: left;
    transition: all .3s ease;
    position: relative;
}

.menu_inner:hover {
    opacity: 0.6;
}

a>.menu_inner::after {
    content: '';
    width: 0;
    left: 0%;
    height: 1px;
    display: block;
    position: absolute;
    border-bottom: 2px solid black;
    transition: all .4s ease;
}

a:hover>.menu_inner::after {
    width: 100%;
    left: 0px;
    height: 1px;
}

.header.drop {
    animation: dropHeader 0.3s;
}

@keyframes dropHeader {
    0% {top: -5rem;}
    100% {top: 0;}
}

/* ------  section1 ------- */
#section1 {
    padding: 70px;
    overflow: hidden;
}

.sec1_wrap {
    height: 600px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.sec1_title {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 120px;
    color: Black;
    letter-spacing: -10px;
    line-height: 100px;
    position: absolute;
    bottom: 200px;
    left: 150px;
    z-index: 10;
}

.sec1_title>span:first-child {
    margin-left: 100px;
}

.sec1_banner1 {
    width: 400px;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    right: 100px;
    z-index: 9;
}

.sec1_out {
    width: 200px;
    height: 70px;
    background-color: #a89cdc;
    position: absolute;
    top: 0;
    left: 300px;
}

.sec1_in {
    width: 200px;
    height: 80%;
    background-image: radial-gradient(circle at 50% -20.71%, #58cee0 0, #5acde6 4.17%, #5fccec 8.33%, #66cbf1 12.5%, #c0b5da 16.67%, #c3b6de 20.83%, #c6b5e1 25%, #bdb4d6 29.17%, #bfb4d9 33.33%, #c2b5dd 37.5%, #c5b4e0 41.67%, #c9b4e5 45.83%, #cdb3e9 50%, #d2b2ed 54.17%, #dbb0e8 58.33%, #e3ade1 62.5%, #eaabda 66.67%, #efaad3 70.83%, #f4a8cb 75%, #f8a7c3 79.17%, #fba7bb 83.33%, #fca7b3 87.5%, #fdb4a8 91.67%, #fcbfa4 95.83%, #fad99d 100%);
    position: absolute;
    top: 180px;
    left: 300px;
    z-index: 9;
    opacity: 0.9;
}

.sec1_img {
    width: 400px;
    height: 100%;
    display: flex;
    position: absolute;
    right: 150px;
    box-sizing: border-box;
    border: 1px solid rgb(208, 208, 208);
}

.sec1_img_box:first-child {
    margin-top: 55px;
    box-sizing: border-box;
    overflow: hidden;
}

.sec1_img_box:last-child {
    border-left: 1px solid rgb(208, 208, 208);
    padding-top: 50px;
}

.sec1_img_box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sec2_box {
    width: 200px;
    height: 160px;
}

.sec1_img_box img {
    width: 200px;
    height: 165px;
    object-fit: cover;
}

/* ------  section2 ------- */

.sec2_banner {
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.sec2_img {
    width: 40%;
    height: 100%;
    position: relative;
    float: left;
    padding-left: 50px;
}

.sec2_img_box {
    background: url(../img/취업사진2.jpg) no-repeat center / cover;
    box-shadow: 0px 0px 20px -5px #00000080;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.sec2_box1 {
    width: 100px;
    height: 350px;
    background-color: rgb(176 179 183);
    position: absolute;
    top: 25%;
    left: 5%;
}

.sec2_box2 {
    width: 300px;
    height: 200px;
    background-color: rgb(120 137 153);
    position: absolute;
    top: 0;
    right: 5%;
    
}

.sec2_box3 {
    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    position: absolute;
    right: 0;
    transform: rotate(180deg);
    font-size: 100px;
    font-family: 'Abhaya Libre';
    color: black;
    padding-top: 100px;
}

.sex2_content {
    width: 50%;
    height: 83%;
    float: right;
    color: black;
    font-family: 'Nanum Myeongjo', serif;
    box-sizing: border-box;
    position: relative;
    border-left: 3.5px solid #1f567942;
    top: 50px;
    padding-left: 50px;
}


.profile_title {
    font-family: 'Abhaya Libre', serif;
    font-size: 20px;
    font-weight: 600;
    color: #154b88;
}

.profile_title img {
    width: 17px;
    position: absolute;
    left: -10px;
}

.profile_content {
    font-family: 'Noto Sans KR', sans-serif;
    padding-bottom: 30px;
}
.profile_content >p {
    padding-right: 100px;
}

.back_title {
    position: absolute;
    bottom: -110px;
    right: -200px;
    font-family: auto;
    letter-spacing: -10px;
    font-size: 120px;
    font-weight: 900;
    color: #3274c029;
}


/* ------  section3------- */


.sec3_img1 {
    background: url(../img/sec3_Banner01.jpg) no-repeat fixed center / cover;
    /* float: right; */
    position: absolute;
    right: 0;
    filter: brightness(0.8);
    width: 30%;
    height: 100%;
    object-fit: cover;
}
.sec3_img2 img {
    height: 400px;
    position: absolute;
    right: 200px;
    top: 25%;
    box-shadow: 0px 1px 50px 7px #404b6a66;
    filter: brightness(1);
}

.sec3_title {
    font-family: 'Abhaya Libre', serif;
    font-size: 120px;
    text-align: center;
    color: black;
    position: absolute;
    right: 400px;
    top: 25%;
}
/* ------  Progress------- */
.sec3_content{
    float: left;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 37%;
    left: 5%;
    transform: translate(5%, -30%);
}
.skills{
    width: 100%;
    max-width: 600px;
    display: flex;
}
.skill{
    display: flex;
    align-items: center;
    height: 130px;
}
.skill-name{
    font-size: 30px;
    font-family: 'Nanum Myeongjo';
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    margin: 20px 0;
}
.skill-name > img{
    width: 90px;
    height: 90px;
}
.skill-bar{
    height: 30px;
    width: 550px;
    background-color: rgb(75 26 208 / 9%);
    border-radius: 20px;
    margin-left: 50px;
    box-shadow: 2px 0px 5px 5px inset #f0c2c275;
    background-color: rgb(208 26 26 / 9%);
}
.skill-per{
    height: 30px;
    background-image: radial-gradient(circle at 14.64% -11.24%, #9bd4c1 0, #97d5c7 3.85%, #93d5cd 7.69%, #90d5d3 11.54%, #8fd4d8 15.38%, #8fd4dd 19.23%, #90d3e2 23.08%, #92d2e7 26.92%, #96d1ea 30.77%, #9ad0ed 34.62%, #a0cef0 38.46%, #a7cdf1 42.31%, #aecbf2 46.15%, #b5c9f2 50%, #bdc7f1 53.85%, #c4c5ef 57.69%, #ccc3ed 61.54%, #d3c1ea 65.38%, #d9c0e6 69.23%, #dfbee2 73.08%, #e5bcdd 76.92%, #e9bbd8 80.77%, #edbad2 84.62%, #f0bacc 88.46%, #f3bac7 92.31%, #f4bac1 96.15%, #f4babb 100%); border-radius: 20px;
    position: relative;
    filter: brightness(1.1);
    box-shadow: 2px 0px 5px 5px inset #fff5f563;
    
    /* animation: fillBars 2.4s; */
}
.per1{max-width: 90%;}
.per2{max-width: 90%; background-image: radial-gradient(circle at -16.45% 25.82%, #6dc5f0 0, #76c3f3 7.14%, #80c1f5 14.29%, #8bbff6 21.43%, #95bcf7 28.57%, #a0baf6 35.71%, #abb8f4 42.86%, #b5b5f2 50%, #bfb2ef 57.14%, #c8b0eb 64.29%, #d1ade6 71.43%, #d8abe1 78.57%, #dfa9db 85.71%, #e6a7d4 92.86%, #eba6ce 100%);}
.per3{max-width: 70%; background-image: radial-gradient(circle at 14.64% -11.24%, #73ceff 0, #7fccff 5.56%, #8bc9ff 11.11%, #98c7ff 16.67%, #a5c4ff 22.22%, #b2c1ff 27.78%, #bebeff 33.33%, #c9bbfd 38.89%, #d4b8f8 44.44%, #deb5f2 50%, #e7b2eb 55.56%, #efb0e4 61.11%, #f6aedd 66.67%, #fbacd4 72.22%, #ffabcc 77.78%, #ffabc3 83.33%, #ffabbb 88.89%, #ffabb3 94.44%, #ffacaa 100%);}
.per4{max-width: 70%; background-image: linear-gradient(120deg, #a4b3f4 0, #b0b0f1 5.56%, #bcaced 11.11%, #c7a9e8 16.67%, #d2a6e1 22.22%, #dba4da 27.78%, #e2a1d3 33.33%, #e99fca 38.89%, #ee9ec2 44.44%, #f29db9 50%, #f59db0 55.56%, #f69da7 61.11%, #f69e9f 66.67%, #f59f97 72.22%, #f2a18f 77.78%, #efa488 83.33%, #eaa682 88.89%, #e5a97d 94.44%, #deac79 100%);}
.per5{max-width: 70%; background-image: linear-gradient(120deg, #a4b3f4 0, #b0b0f1 5.56%, #bcaced 11.11%, #c7a9e8 16.67%, #d2a6e1 22.22%, #dba4da 27.78%, #e2a1d3 33.33%, #e99fca 38.89%, #ee9ec2 44.44%, #f29db9 50%, #f59db0 55.56%, #f69da7 61.11%, #f69e9f 66.67%, #f59f97 72.22%, #f2a18f 77.78%, #efa488 83.33%, #eaa682 88.89%, #e5a97d 94.44%, #deac79 100%);}
.skill-per::before{
    content: attr(per);
    position: absolute;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Noto Sans KR';
    color: #c06e6e;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

@keyframes fillBars {
    from{width:0;}
    to{width:100%;}
}

/* ------  section4------- */
#section4{
    height: auto;
}
.sec4_title{
    font-family: 'Abhaya Libre';
    font-size: 120px;
    color: Black;
    position: absolute;
    top: 10.5%;
    left: 56.1%;
    transform: translate(-50%, 0%);
}
.sec4_img{
    width: 70%;
    height: 300px;
    object-fit: cover;
    background: url(../img/sec4_Banner02.jpg) no-repeat fixed center / cover;
}
.sec4_content{
    width: 100%;
    height: 1000px;
    padding: 300px;
    /* background-color: yellow; */
}
/* ------  section5------- */
#section5{
    padding: 100px;
}
.contact_box{
    width: 75%;
    height:70%;
    margin: 150px auto;
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
}
.contact_img{
    width: 300px;
    min-width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: floralwhite;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 0 0 rgb(0 0 0 / 20%);
}
.contact_img img{
    width: 200px;
}
#phone{
    background-color: #ffe4cb;
}
#kakaotalk{
    background-color: #fdea43;
}
#kakaotalk img{
    width: 300px;
}
#email{
    background-color: #ffcaca;
}
.contact_txt{
    text-align: center;
    font-family: 'Abhaya Libre';
    color:#ffa406;
}
.contact_txt h1{
    margin-bottom: 0;
}
.contact_txt p{
    font-size: 20px;
    font-family: 'Nanum Myeongjo';
    font-weight: 600;
}
.cY{
    color: #ffcf00;
}
.cT{
    color: tomato;
}
.sec5_title{
    font-family: 'Abhaya Libre';
    font-size: 120px;
    color: Black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}