
nav.fullscreenNav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;left: 0;
    z-index: 99;
    background-color: #FED900;
    transition: all 650ms cubic-bezier(1,0,0,1);
}
nav.fullscreenNav.open {
    top: 0;left: 0;
    border-radius: initial;
}
.logo-fullnav {
    background-image: url(../../src/img/logo-fullnav.svg);
    background-position: center 90%;
    background-repeat: no-repeat;
    background-size: 250px auto;
}

.nav-list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav-link {
    font-size: 2rem;
    padding: 1rem;
}
.nav-link:hover, .nav-link:focus {
    color: #fff;
}
#allmenu  {
    position: relative;
    padding-left: 2rem;
    width: 75px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    color: #fff;
    border-left: 1px solid rgba(255,255,255,.2);
    transition: all 650ms ease-out;
}
.menu-toggler {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 999;
    transition: all 650ms ease-out;
}
.menu-toggler.open {
    transform: rotate(-45deg);
}
nav.fullscreenNav.open .menu-toggler {
    position: absolute;
    right: 3rem;top: 2rem;
}
nav.fullscreenNav.open .menu-toggler {
    transform: rotate(-45deg);
}
.bar {
    background-color: #fff;
    width: 100%;
    height: 2px;
    border-radius: 0.8rem;
}
.navik-header.sticky .bar,
.navik-header.sticky .menu-toggler.open .bar {
    background-color: #333;
}
.navik-header.sticky #allmenu {
    color: #333;
    border-left-color: rgba(0,0,0,.1);
}


.bar.half {
    width: 50%;
}
.bar.top {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.top {
    transform: rotate(-90deg) translateX(0.4rem);
}
.bar.bottom {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.bottom {
    transform: rotate(-90deg) translateX(-0.4rem);
}


.fullscreenNav a {
    display: block;
    color: #3F3A39;
}
.fullscreenNav .nav-list>li {
    padding: 0 15px;
}
.fullscreenNav .nav-list>li>a {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #3F3A39;
    font-size: 21px;
    font-weight: 500;
}
.fullscreenNav .nav-list .nav-item li a {
    margin-bottom: 10px;
    font-size: 15px;
}

.sns {
    display: inline-block;
    padding: 0 8px;
    line-height: 90px;
    color: #fff;
}
.navbar-sticky.sticky .sns {
    color: #333;
}  
.sns:hover, 
.navbar-sticky.sticky .sns:hover {
    color: #fed900;
}  

@media screen and (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }
    .nav-link {
        font-size: 2.5rem;
    }
}
