.btn-shine {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    color: #ffffff;
    background-image: radial-gradient(circle at 0.48% 0.48%, #0a49bd 0, #5dd2f6e3 4.17%, #66d0fb 8.33%, #71ceff 12.5%, #7dccff 16.67%, #89caff 20.83%, #97c7ff 25%, #a4c4ff 29.17%, #b1c1ff 33.33%, #bdbeff 37.5%, #c9bbfd 41.67%, #d4b8f8 45.83%, #deb5f2 50%, #e7b2eb 54.17%, #efb0e4 58.33%, #f6aedc 62.5%, #fcacd4 66.67%, #ffabcb 70.83%, #ffabc2 75%, #ffabba 79.17%, #ffabb1 83.33%, #ffaca9 87.5%, #efe654 91.67%, #ffb09a 95.83%, #fdb294 100%);
    background-image: radial-gradient(circle at -3.74% 4.91%, #009cff 0, #0097ff 4.55%, #0091ff 9.09%, #008bff 13.64%, #2c84ff 18.18%, #6c7bff 22.73%, #9172ff 27.27%, #ad68f5 31.82%, #c45de7 36.36%, #d752d7 40.91%, #e647c7 45.45%, #f23cb5 50%, #fb33a3 54.55%, #ff2d90 59.09%, #ff2c7e 63.64%, #ff306c 68.18%, #ff385a 72.73%, #fe4248 77.27%, #f84d36 81.82%, #f05723 86.36%, #ffc713 90.91%, #f6f6f2 95.45%, #ce7400 100%);
    background-image: radial-gradient(circle at -3.74% 4.91%, #009cff 0, #0097ff 4.55%, #0091ff 9.09%, #008bff 13.64%, #2c84ff 18.18%, #6c7bff 22.73%, #9172ff 27.27%, #ad68f5 31.82%, #c45de7 36.36%, #d752d7 40.91%, #e647c7 45.45%, #f23cb5 50%, #fb33a3 54.55%, #ff2d90 59.09%, #ff2c7e 63.64%, #ff306c 68.18%, #ff385a 72.73%, #fe4248 77.27%, #f84d36 81.82%, #f05723 86.36%, #f0ff13 90.91%, #f3f3ad 95.45%, #ce7400 100%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff36;
    animation: shine 4s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    /* text-decoration: none; */
    text-decoration: underline;
    white-space: nowrap;
}


@keyframes shine {
    0% {
        background-position: 0 60%
    }

    50% {
        background-position: 100px 100%
    }

    100% {
        background-position: 370px;
    }
}
